{% extends 'base.html' %}

{% block content %}

<div class='container'>
<h3>About the CDC-Kaiser ACE Study</h3>
    <div class='row'>
        <div class='col-md-12'>
            <div class='w-md-col12  text mb-3'>
                <button class='btn btn-primary openall'>Open All</button>
                <button class='btn btn-primary closeall'>Close All</button>
            </div>
        </div>
    </div>
</div>

<div class="accordion indicator-plus accordion-white mb3" id="accordion-1" role="tablist">
    <div class="card border-0 mb-3">
        <div class="card-header h4 bg-white collapsed" role="tab" id="acc-header-1" href="#acc-panel-1" data-toggle="collapse" data-parent="#accordion-1" aria-controls="acc-panel-1" aria-expanded="false">
            <button class="card-title btn btn-link">The ACE Pyramid</button>
        </div>
            <div class="collapse" id="acc-panel-1" role="tablist" aria-labelledby="acc-header-1" style="">
                <div class="card-body bg-white">
                    <p>The ACE Pyramid represents the conceptual framework for the ACE Study. The ACE Study has uncovered how ACEs are strongly related to development of risk factors for disease, and well-being throughout the life course.</p>
    <div class="d-block text-center pt-2">
        <img src="/violenceprevention/images/acestudy/ace_pyramid_lrg.png" class="img-fluid p-1 ba-1 b-gray" alt="ACE Pyramid represents the conceptual framework for the ACE Study" title="ace_pyramid_lrg">
    </div>
    </div>
</div>
</div>
</div>
{% endblock %}