{% extends 'base.html' %}
{% block content %}

<div class = 'w-100 h-100 p-5 mx-auto text-white' style="background-color:#343AEF">
<main role='main' class='container p-3 mb-2'>
  <div class='jumbotron bg-info text-white'>
    <hi class='display-3'>Welcome!</hi>
    <p>This website is meant to be informational in nature and to give you access to some of the things I discovered when analyzing CDC's ACE data for the years 2009-2012. Have questions about the data, collection method, or ACEs in general?</p>
    <p>
      <a class='btn btn-primary btn-lg' href='/faqs' role='button'>Head to the FAQs page for more info</a>
    </p>
  </div>
  <div class = 'row'>
    <div class = 'col-md-12 blog-main'>
      <div class="card-deck"> 
        <div class="card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body p-3 mb-2 bg-success text-white">
            <a href="/abuse" class="card-link text-white">
            <h5 class="card-title">Abuse</h5>
              <p class="card-text">Emotional, Physical, and Sexual</p>
            </a>
            </div>
          <div class="card-footer">
            <a href="/abuse" class="card-link text-dark">Learn more</a>
          </div>
        </div>
        <div class="card">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body p-3 mb-2 bg-danger text-white">
            <a href="/household" class="card-link text-white">
              <h5 class="card-title">Household Challenges</h5>
              <p class="card-text">Incarceration, Divorce or Separation, Mental Illness, Substance Abuse, and Intimate Partner Violence</p>
            </a>
          </div>
          <div class="card-footer">
            <a href="/household" class="card-link text-dark">Learn more</a>
          </div>
        </div>
        <div class="card">
          <!--<img src = "/img/ACEs-consequences-large.png" class="card-img-top" alt="early adversity has lasting impacts">-->
          <div class="card-body p-3 mb-2 bg-warning text-white">
            <a href="/cdc-kaiser" class="card-link text-white">
              <h5 class="card-title">CDC-Kaiser ACE Study</h5>
              <p class="card-text">One of the largest investigations of childhood abuse and neglect and household challenges and later-life health and well-being...</p>
            </a>
          </div>
          <div class="card-footer">
            <a href="/cdc-kaiser" class="card-link text-dark">Learn more</a>
          </div>
        </div>
      </div>
    </div> 
  </div>
</main>
</div>
{% endblock %}