{% extends 'base.html' %}

{% block content %}

<div class = 'w-100 h-100 p-5 mx-auto text-white' style="background-color:#343AEF">
<h2>For more information on ACEs</h2>
    <div class="alert alert-light text-dark" role="alert">
        The CDC is a great resource for ACE data and information.  <a href="https://www.cdc.gov/violenceprevention/aces/ace-brfss.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fviolenceprevention%2Facestudy%2Face-brfss.html" target="_blank" class="alert-link"> Click here</a> to be put in the right place.
    </div>
    <div class="alert alert-light text-dark" role="alert">
        The CDC also has all of the ACE questions they asked in the BRFSS. <a href="https://www.cdc.gov/violenceprevention/acestudy/pdf/BRFSS_Adverse_Module.pdf" target="_blank" class="alert-link"> Click here</a> to see them.
    </div>
    <div class="alert alert-light text-dark" role="alert">
        Interested in Violence Prevention? <a href="https://www.cdc.gov/violenceprevention/index.html" target="_blank" class="alert-link"> Click here</a> to learn more.
    </div>
    <div class="alert alert-light text-dark" role="alert">
        Want to learn how to help? <a href="https://www.childwelfare.gov/topics/preventing/preventionmonth/resources/ace/" target="_blank" class="alert-link"> here</a> to learn more.
    </div>
</div>

{% endblock %}